.ulindex{
    margin-left:18%;
    
}

.navpadd{
    padding-top:50%;
    padding-bottom:50%;
}

.para1{
    position:absolute;
    top:40%;
    left:28%;
    font-weight:bold;
    font-size:42px;
    color:snow;
}
.wrap1index{
    margin-top:1%;
}
.card1{
    margin-left: 28%;
}

.para2{
    position:absolute;
    top:60%;
    left:32%;  
    color:snow;
}
.para3{
    box-shadow: 0px 0px 7px 5px  black;
   
}
.imgindex
{
    width:30%;
    height:300px;
}


.imgindex1{
    width:100%;
    height:100%;
    border-radius:50%;
    
}
.cardindex{
margin-top:8%;

}

.cardbody1
{
    background-color:#780002;
    color:snow;
}
.cardbody1:hover{
   background-color:gold; 
}

.indexh2{
        font-weight:bold;
}
    

.wrap2index
{
    background-color:#780002;
}


.formindex1{
    background-color:#780002;
    padding:5%;
}

.box1{position:absolute;
               left:30%;top:19%;background-color:rgba(0,0,0,0.1);color:snow;padding:4%;display:block;}

.cardindex .box1:hover{
    display:none;
}

.pv2{
    background-color:transparent;
    border:none;
    color:snow;
        
}
.ulindex{
    list-style:none;
    }

.ulindex li{
    float:left;

}
.link0{
    color:transparent;
}
.spanb{
    border-right-style:double;
    margin-left:1%;
    padding:0.5%;
}

@media screen and (max-width: 1100px)
{
	
	.wrap1 .para1{
		font-size:30px;
		margin-left:-3%;
	}

}

@media screen and (max-width: 900px)
{
	
	.wrap1 .para1{
		font-size:20px;
		margin-left:-5%;
	}
 
 .pv2{
  background-color:transparent;
 border:none;
 color:snow;    
 font-size:16px;     
}
 
 
.link0{
    color:transparent;
}

.box1{
	display:none;
 
}



